/*@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,800&display=swap');*/

body {
    font-family: 'Open Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #fff;
    line-height: 1.25;
    font-size: 24px;
    margin-top: 10%;
    margin-left: 2%;
}

#conteneur_assistant{
    display: flex;
    flex-flow: row wrap ;
    margin: 1%;
}

#gauche_assistant{
    order: 1;
    max-width: 50%;
}

#droit_assistant{
    order: 2;
    font-size: 24px;
    margin-right: 0%;
    max-width: 50%;
    margin-top: 5%;
    margin-left: 5%;
}

#bas_assistant{
    order: 4;
    margin-bottom: 15%;
}

#image_assistant{
    display: flex;
    flex-flow: column wrap;
    max-width: 100%;
    margin-top: 20%;    
}

#image_mini_assistant{
    display: flex;
    margin-right: 5%;
    margin-top: 10%;

}

.assistant1{
    max-width: 80%;
    height: auto;
    margin-right: 20%;
}


.assistant2{
    max-width: 100%;
    height: auto;

}

.assistant3{
    max-width: 100%;
    height: auto;

}

.assistant4{
    max-width: 100%;
    height: auto;

}

.fas{
    color: #FD5300;
    font-size: 20px;
}

.orange{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    color: #FD5300;
}

.encadrement{
    margin: 5%;
    border: solid 1px #0D5D6B;
    background-color: #0D5D6B ;
    color: white;
    font-weight: bold;
}

.bold {
    font-weight: bold;
}

.paragraphe_droit{
    font-size: 34px;
}

.prix{
    font-size: 24px;
    text-decoration: line-through;
    color: black;
    font-weight: bold;
}

.bouton_ajouter{
    width: 332px;
    height: 77px;
    background: #FD5300;
    border-radius: 10px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: #FFFFFF;
}

.bouton_ajouter:hover{
    background: black;
}

#paragraphe_haut{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 46px;
    line-height: 49px;
}

#ligne_demarcation{
    border: solid 1px black;
    width: 650px;
}

#ligne_demarcation_2{
    border: solid 1px black;
    width: 870px;
}


