@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

/*  ///////////////////////// NE PAS MODIFIER LE CODE DU BODY SVP ///////////////////////////////// */
body {
    font-family: 'Open Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #fff;
    font-size: 16px;
    line-height: 1.25;
}
.bloc-ft-info {
    color: #434748;
    font-weight: normal;
    font-size: 18px;
}

.bloc-ft-info:hover {
        color: #FD5300;
}

/*  ///////////////////////////// NAVBARRE ////////////////////////////////////*/

a {
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    color: #FD5300;
}

.liste_ul {
    display: flex;
    float: right;
    width: 330px;
    height: 50px;
    left: 548px;
    top: 51px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    align-items: center;
    padding-right: 20%;
}

.liste_ul li {
    display: flex;
    text-align: center;
    align-items: center;
    padding: 20px;
}

.liste_ul li:active {
    display: flex;
    text-align: center;
    align-items: center;
    padding: 20px;
}

.liste_ul li:hover {
    display: flex;
    text-align: center;
    align-items: center;
    background: #A6D5DD;
    width: 150%;
    height: 150%;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.4s;
}

.active {
    display: flex;
    text-align: center;
    align-items: center;
    background: #A6D5DD;
    width: 150%;
    height: 150%;
    border-radius: 50%;
    cursor: pointer;
}

.conteneur_barre_nav {
    margin-right: 5%;
    margin-top: 1%;
}

.logo{
    margin-left: 5%;
    margin-top: 0.5%;
}

button{
    top: 11%;
    right: 1%;
    cursor: pointer;
}
/*  ///////////////////////////// FIN NAVBARRE ////////////////////////////////////:*/

/* ///////////////////////////////// HEADER PAGE HOME ////////////////////////////////////*/

.headerBg {
        position: relative;
        z-index: 1;
}

.headerBg::before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: url('/images/pagehome.jpg') no-repeat center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;;
        opacity: .4;
}

.headerText {
    z-index: 1;
    padding: 80px;
    text-align: center;
    font-size: 56px;
    font-weight: bold;
}
.headerText > h1 {
        text-transform: uppercase;
        font-weight: bold;
}

.headerText > p {
    font-size: 56px;
}

.ctn-features > h2 {
    text-transform: uppercase;
    font-size: 30px;
    margin:30px 0 0 0 ;
}

.ctn-features > p {
    font-size: 18px;
    text-align: center;
}


.features {
    display: flex;
    justify-content: space-between;
    margin: 10px 30px 0;
    line-height: 1.2;
}

.ctn-features {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn1 {
    width: 350px;
    height: 130px;
    margin: 50px;
    border: none; 
    color: #fff;
    background-color:#FD5300 ;
    font-size: 36px;
    font-weight: bold;
    border-radius: 16px;
}

.btn1:hover {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(118, 191, 203, 1);
    color: white;
    transition: 0.5s;
}

.btn2 {
    width: auto;
    margin-bottom: 30px;
    height: 30px;
    border: none; 
    color: #fff;
    background-color:#FD5300 ;
    font-size: 22px;
    font-weight: bold;
    border-radius: 8px;
}

.btn2:hover {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(118, 191, 203, 1);
    color: white;
    transition: 0.5s;
}

.image-ronde {
    overflow:hidden;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:100%;
    width: 250px;
    height: 250px;
    border: solid black 2px;
}
/* ///////////////////////////////// FIN HEADER PAGE HOME ////////////////////////////////////*/

/* ////////////////////// PAGE PROJETEZ-VOUS ///////////////////////*/

.hd-image-Bg {
        position: relative;
        z-index: 1;
}

.hd-image-Bg::before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: url('/images/projetezvous.jpg') no-repeat center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;;
        opacity: .4;
}

.hd-Text {
    z-index: 1;
    padding: 80px;
    text-align: center;
    font-size: 56px;
}

.hd-Text > h1 {
        text-transform: uppercase;
        font-weight: bold;
}

.hd-Text p {
    font-size: 56px;
}

.ctn-features1 h2 {
    text-transform: uppercase;
    font-size: 30px;
}

.ctn-features2 h2 {
    text-transform: uppercase;
    font-size: 30px;
}

.ctn-features3 h2 {
    text-transform: uppercase;
    font-size: 30px;
}

.ctn-features1 p {
    margin: 0;
    padding: 50px;
    font-size: 18px;
    text-align: justify;
}

.ctn-features2 p {
    margin: 0;
    padding: 50px;
    font-size: 18px;
    text-align: justify;
}

.ctn-features3 p {
    margin: 0;
    padding: 50px;
    font-size: 18px;
    text-align: justify;
}


.features {
    display: flex;
    justify-content: space-between;
    line-height: 1.2;
}

.all-features{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.ctn-features1 {
    grid-column: 0/1;
    text-align: center; 
}

.ctn-features2 {
    grid-column: 2/3;
 
    text-align: center;
}

.ctn-features3 {
    grid-column:  3/4;
    text-align: center;
}

.pt-features {
    color: #FD5300;
}

/* ////////////////////// PAGE PROJETEZ-VOUS ///////////////////////*/


/*//////////////////////////////// PAGE TEAM ET FORMULAIRE //////////////////////////////*/

.hd-image-Bg1 {
        position: relative;
        z-index: 1;
}

.hd-image-Bg1::before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: url('/images/notreequipe.jpg') no-repeat center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;;
        opacity: .4;
}
.hd-image-Bg2 {
        position: relative;
        z-index: 1;
}

.hd-image-Bg2::before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 100px;
        left: 0;
        right: 0;
        background: url('/images/nouscontacter.png') no-repeat center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;;
        opacity: .4;
}

.hd-Text {
    z-index: 1;
    padding: 80px;
    text-align: center;
    font-size: 56px;
}

.hd-Text > h1 {
        text-transform: uppercase;
        font-weight: bold;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.container {
    display: flex;
    position: relative;
}

.container .text {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
    position: absolute;
    text-align: center;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 20%;
    color: white;
    width: 100%;
}

.textimg {
    display: flex;
    justify-content: space-around;
    margin: auto;
    color: white;
}

.btnctn{
    display: inline-block;
    text-align: center;
    background-color: white;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    line-height: 50px;
    color: white;
    text-decoration: none;
    border: solid black 2px;
    
}

span:hover .btnctn{
    display: none;
    box-shadow: 0px 5px 10px black;
    background-color: white;
    color: black;
}
  
span:hover .btnctnrep:before{
    display: inline-block;
    text-align: center;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    background-color: white;
    border-radius: 50%;
    padding: 0px;
    width: 150px;
    height: 150px;
    line-height: 150px;
    color: black;
    text-decoration: none;
    border: solid black 2px;
    content:"0983838484";
}

span:hover .btnctnrep2:before{
    display: inline-block;
    text-align: center;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    background-color: white;
    border-radius: 50%;
    padding: 0px;
    width: 150px;
    height: 150px;
    line-height: 150px;
    color: black;
    text-decoration: none;
    border: solid black 2px;
    content:"contact@mail.com";
    font-size: 15px;
}

.formcase{
    border: solid black 2px;
}

.formcase:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
    background-color: rgba(118, 191, 203, 0.5);
    transition: 0.5s;
}

.formulaire{
    text-align: center;
}

.formulaire h2{
    font-size: 45px;
}

.btnproj{
    display: flex;
    justify-content: space-between;
    z-index: 1;
    position: absolute;
    text-align: justify;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 150%;
    width: 50%;
}

.ctn_features{
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 0 20px;
}

.featbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.descriptTeam {
    text-align: center;
}
/*//////////////////////////////// FIN PAGE TEAM ET FORMULAIRE //////////////////////////////*/

/*  //////////////////////////////// DEBUT FOOTER ////////////////////////////// */

.blocFooter1
{
    background-color: #E8E8E8;
    display: flex;
    flex-wrap: wrap;  
}

.blocFooter2{

    margin-top: 20px;
    margin-left: auto;
    width: 20%;
    min-width: 12.5rem;
    margin-bottom: 1.875rem;
    padding: 0 .625rem; 
    flex-shrink: 0;
}

.blocFooterInfo {
    font-size: 24px;
    color: #434748;
}


ul li {
    list-style: none;
    line-height: 1.625rem;
}

.picto {
    width: 200px;
    height: 20px;
}

.ctn-newsletter {
    overflow: hidden;
    color: white;
    display: flexbox;
    background-color:#4d5152 ;
    text-align: center;
}

#newsletterbutton {
    height: 40px;
    font-size: 14px;
    color: #434748 ;
    font-weight: bold;
    background-color: rgba(118, 191, 203, 1);
    border: none;
    border-radius: 10px;
    text-align: center;
}

#newsletterbutton:hover {
background-color: #FD5300;
color: #fff;
transition: 0.5s;
}

.box3 img:hover {
    color:#FD5300;
    transition: 0.5s;
}

#clic{
    color: rgba(118, 191, 203, 1);
    font-size: 14px;
    text-decoration: none;
    padding-left: 5px;
}

#clic:hover {
    color:#FD5300;
    transition: 0.5s;
}

#clic:visited{
    color: white;
    text-decoration: none;
}

i{
    color: white;
    font-size: 30px;
    padding: 10px;
}
i:hover {
    color: #FD5300;
    transition: 0.5s;
}

#apple{
    height: 55px;
    width: 167px;
}
/*  //////////////////////////////// FIN FOOTER ////////////////////////////// */