/*@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,800&display=swap');*/

body{
    font-family: 'Open Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #fff;
    font-size: 16px;
    line-height: 1.25;
}

.liste_ul {
    display: flex;
    float: right;
    width: 140px;
    height: 50px;
    left: 548px;
    top: 51px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #FD5300; 
    text-align: center;
    align-items: center;
    padding-right: 20%;
}

.liste_ul li {
    display: flex;
    text-align: center;
    align-items: center;
    padding: 20px;
}

.liste_ul li:hover{
    display: flex;
    text-align: center;
    align-items: center;
    text-align: center;
    background: #A6D5DD;
    width: 150%;
    height: 150%;
    border-radius: 150%;
    cursor: pointer;
}

.conteneur_barre_nav{
    margin-right: 5%;
    margin-top: 1%;
}

.logo{
    margin-left: 5%;
    margin-top: 0.5%;
}

button{
    position: absolute;
    top: 11%;
    right: 1%;
}


